<div class="Response"> <%# view/home/response.html.erb %>
    <header>
        <h1>Válasz</h1>
    </header>
    
    <div class="container">
        <div class="row">
            <div class="content">

                <% if @remote_data %>

                    <p><b>Ettől:</b> <%= @remote_data['from_date'] %></p>
                    <p><b>Eddig:</b> <%= @remote_data['to_date'] %></p>

                    <% if @remote_data['avg'].to_i < 5 %>
                        <p><b>Sűrűség:</b> <%= (5/@remote_data['avg'].to_f) %> data/sec </p>

                    <% elsif @remote_data['avg'].to_i < 300 %>
                        <p><b>Sűrűség:</b> <%= (300/@remote_data['avg'].to_f) %> data/min </p>

                    <% else %>
                        <p><b>Sűrűség:</b> <%= (18000/@remote_data['avg'].to_f) %> data/hour </p>

                    <% end %>
                <% else %>
                    <p>No data received from the remote server.</p>
                <% end %>

            </div>
        </div>

        <h2>Válasz a Raspberry-től:</h2>
        <div class="row">
            <div class="content">
                <h2>Speed Over Time</h2>
                <% if @speed_data %> 
                    <%= line_chart @speed_data, xtitle: "Date", ytitle: "Speed" %>
                <% else %>
                    <p>No data received from the remote server.</p>
                <% end %>

            </div>
        </div>
        <div class="row">
            <div class="content">
                <h2>Angle Over Time</h2>
                <% if @angle_data %>  
                    <%= line_chart @angle_data, xtitle: "Date", ytitle: "Angle" %>
                <% else %>
                    <p>No data received from the remote server.</p>
                <% end %>
            </div>
        </div>
        <%= link_to "Back", root_path %>
    </div>
</div>